.page {
	height: '100vh';
	width: '100%';
	position: 'fixed';
	top: 0;
	transition: 'opacity 300ms ease-in';
}

.item-enter {
	opacity: 0;
}

.item-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}

.item-exit {
	opacity: 1;
}

.item-exit-active {
	opacity: 0;
	transition: opacity 500ms ease-in;
}
